<!DOCTYPE html>
<html>
<head>
  <title>Login2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="container">

		<% if user_signed_in? %>
			<div class="header-right">
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			</div>
			<div class="header-right">
				<%= link_to '投稿一覧へ', "/show" %>
			</div>
			<div class="header-right">
				<%= link_to '投稿する', "/new" %>
			</div>
		<% else %>
		
			<div class="header-right">
				<%= link_to "ログイン", new_user_session_path, class: 'post' %>
			</div>
			<div class="header-right">
				<%= link_to "新規登録", new_user_registration_path, class: 'post' %>
			</div>
			<div class="header-right">
				<%= link_to '投稿一覧へ', "/show" %>
			</div>

		<% end %>
	</div>
</header>

<div class="contents">
	<%= yield %>
</div>

</body>


</html>

